.navbar_container
{
    .navbar_form_style
    {
        padding-left: 45%;
    }
    .link
    {
        color:white;
    }
    .navbar
    {
        color:red;
    }
    .input_date
    {
        height:36px;
        border: 1px solid transparent;
        border-radius: 3px;
    }
}
