.dashbord-container
{
    .dashboard_graph
    {
        padding-left: 15%;
    }
    .format_message
    {
        color:red;
        padding-left: 47%;
        font-family: Arial, Helvetica, sans-serif;
        font-size:larger;
    }
}

