.dashbord-container
{
    .dashboard_graph
    {
        padding-left: 19%;
    }
    .format_message
    {
        color:black;
        padding-left: 43%;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size:x-large;
        margin-top: 9%;
    }
}

