.form_edit
{
    width: 350px;
    color:gray;
    font-size: large;
    margin-left: 40%;
    text-align: center; 
    border-radius: 25px;
    border: 2px solid black;
    padding: 40px;
    margin-top: 3%;
}
.h2
{
    background-color: white;
    color:black;
}