.add_event_container
{
  .div_forms
  {
    display: block;
  }
 
  .form_add_event
  {
    padding-left: 25%;
   
  }
  .form_birthday
  {
    width:450px;
    margin:8px;
  }
  .add_events
  {
    display: flex;
  }
  .add_event_h1
  {
    color:red;
    padding-left: 40%;
  }
}