.add_event_container
{
 
 .form_control
 {
   display: block;
   width:12%;
   text-align: center;
 }
  
  .form_birthday
  {
    width:450px;
    margin:8px;
    margin-left: 33%;
    text-align: center; 
    border-radius: 25px;
    border: 2px solid black;
    border-spacing: 20px;
    padding: 50px;
  }
  .p_kind
  {
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .add_events
  {
    display: flex;
  }
  .add_event_h1
  {
    color:gray;
    margin-left:40%;
    display: block;
  }
  .div_kind
  {
    display: flex;
    color:black;
    margin-right: 4%;
    padding-right: 4%;
    margin-bottom: 10px;
  }
}