
  .DivForms
  {
    display: block;
  }
 
  .formAddEvent
  {
    padding-left: 25%;
   
  }
  .formbirthday
  {
    width:450px;
    margin:8px;
  }
  .addevents
  {
    display: flex;
  }
  .addEventsH1
  {
    color:red;
    padding-left: 40%;
  }